@import "../lib/core";

@dp-activation: dp-activation;
.@{dp-activation} {
  @black: #3f3f3f;
  @black-light: #2d2d2d;
  @grey: #666;
  @grey-light: #999;
  background: @black;
  @font-face {
    font-family: dp-activation;
    src: url('../../public/fonts/CenturyGothic.woff')
  }
  font-family: dp-activation;
  .position-leftTop(0, 0);
  .user-select(none);
  right: 0;
  bottom: 0;
  &-page {
    .position-leftTop(0, 0);
    right: 0;
    bottom: 0;
  }
  .x-icon-menu {
    .size(20px, 12px);
    position: relative;
    margin-top: -2px;
    .menu-line {
      .transition(all 500ms);
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      &.top {
        top: 0;
      }
      &.bottom {
        bottom: 0;
      }
      &.middle {
        top: 45%;
      }
    }
    &:hover {
      .menu-line {
        background: #e9e9e9;
        &.top {
          .transition-delay(100ms);
        }
        &.bottom {
          .transition-delay(180ms);
        }
        left: 35%;
        right: 35%;
      }
    }
    &.white {
      .menu-line {
        background: #fff;
      }
    }
    &.black {
      .menu-line {
        background: @black;
      }
      &:hover {
        .menu-line {
          background: @grey;
        }
      }
    }
  }
}