@import "../lib/core";

.dp-activation-page-home {
  @black: #3f3f3f;
  @black-light: #2d2d2d;
  @grey: #666;
  @grey-light: #999;
  padding-top: 100px;
  background: #f5f5f5;
  .home-header {
    .fixed-leftTop(0, 0);
    right: 0;
    background: #fff;
    z-index: 999;
    .header-menu {
      max-width: 1600px;
      margin: 0 auto;
      .flexbox();
      .justify-content(center);
      .align-items(center);
      color: @black;
      height: 100px;
      line-height: 100px;
      .menu-item {
        text-transform: uppercase;
        position: relative;
        &.logo {
          .flex(4);
          .transition(all 400ms);
          cursor: pointer;
          font-size: 18px;
          font-weight: bold;
          &:hover {
            > a {
              color: @grey-light;
            }
          }
          .right {
            color: @grey;
            margin-left: 10px;
          }
          > a {
            .transition(all 400ms);
            color: @grey;
          }
        }
        &.init {
          .flex(2);

          cursor: pointer;
          &:hover {
            > a {
              color: @grey-light;
            }
          }
          > a {
            .transition(all 400ms);
            color: @black;
          }
        }
        &.item {
          .flex(1);
          .flexbox();
          .justify-content(center);
          .align-items(center);
          .item-menu {
            .flex(1);
            cursor: pointer;
            text-align: center;
            > a {
              .transition(all 400ms);
              color: @black;
            }
            &:hover {
              > a {
                color: @grey-light;
              }
            }
          }
        }
      }
    }
  }
  .home-max {
    position: relative;
    overflow: hidden;
    .max-bg {
      .position-leftTop(0, 0);
      right: 0;
      bottom: 0;
      .background-size-cover();
      background-position: 0 -150px;
    }
    .max-content {
      .position-leftTop(10%, 150px);
      right: 25%;
      z-index: 2;
      font-size: 74px;
      line-height: 85px;
      letter-spacing: 2px;
      color: #fff;
      font-weight: bold;
      .sub {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }
  .home-max-image {
    > img {
      .size(100%, auto);
    }
  }
  .home-banner {
    height: 1000px;
    position: relative;
    color: #f2f2f2;
    .banner-content {
      .position-leftTop(15%, 50%);
      width: 70%;
      .translate(0, -50%);
      z-index: 2;
      .content-title {
        font-size: 74px;
        line-height: 85px;
        letter-spacing: 2px;
        margin-bottom: 25px;
        font-weight: bold;
        &.size-middle {
          font-size: 50px;
          line-height: 60px;
        }
      }
      .content-info {
        width: 70%;
        font-size: 12px;
        line-height: 18px;
      }
    }
    .banner-bg {
      .position-leftTop(0, 0);
      right: 0;
      bottom: 0;
      .background-size-cover();
    }
  }
  .home-main {
    max-width: 1600px;
    margin: 0 auto;
    .section-welcome {
      .welcome-banner {
        overflow: hidden;
        .header-item {
          .float-right(0);
          height: 60px;
          line-height: 60px;
          background: #2d2d2d;
          color: #fff;
          padding-left: 30px;
          font-weight: bold;
          font-size: 12px;
          width: 30%;
          &.size-small {
            width: 25%;
          }
          &.for-left {
            .float-left(0);
          }
        }
      }
      .welcome-menu {
        height: 120px;
        padding: 45px;
        background: #fff;
        overflow: hidden;
        .menu-item {
          .float-left(0);
          margin-right: 50px;
          height: 30px;
          line-height: 30px;
          font-size: 12px;
          cursor: pointer;
          padding: 0 10px;
          &.bold {
            font-weight: bold;
          }
          &:after {
            content: '';
            .position-leftBottom(50%, 0);
            right: 50%;
            height: 1px;
            .transition(all 400ms);
            background: @grey;
            .transition-delay(100ms);
          }
          &:before {
            content: '';
            .position-leftTop(50%, 0);
            right: 50%;
            height: 1px;
            .transition(all 400ms);
            background: @grey;
          }
          &.active, &:hover {
            &:after, &:before {
              left: 0;
              right: 0;
            }
          }
        }
      }
      .welcome-content {
        .flexbox();
        .justify-content(center);
        .align-items(center);
        .content-left {
          .flex(2);
          padding: 0 50px;
          &.for-content {
            background: #fff;
            padding: 60px 50px;
            color: @black;
            height: 400px;
            &.size-middle {
              height: 340px;
            }
            .content-title {
              font-size: 16px;
              font-weight: bold;
              margin-bottom: 25px;
              &.style-large {
                font-size: 26px;
                line-height: 32px;
              }
            }
            .content-info {
              font-size: 12px;
              line-height: 18px;
              margin-bottom: 18px;
              &.label {
                margin-bottom: 8px;
                font-weight: bold;
              }
            }
            .content-icon-wrapper {
              margin-top: 50px;
              position: relative;
              .size(36px, 36px);
              display: block;
              border: 1px solid @grey;
              cursor: pointer;
              .border-radius(50%);
              > i {
                .position-leftTop(50%, 50%);
                .translate(-50%, -50%);
                font-size: 16px;
                color: @black;
                .transition(color 400ms);
              }
              &:hover {
                > i {
                  color: @grey-light;
                }
              }
            }
            &.agency {
              height: 750px;
              padding: 0 70px;
              background: #2d2d2d;
              color: #f2f2f2;
              .content-title {
                font-size: 120px;
                font-weight: bold;
              }
              .content-sub-title {
                font-size: 26px;
                line-height: 32px;
                margin-bottom: 25px;
                font-weight: bold;
              }
              .content-info {
                color: #aaa;
                margin-bottom: 30px;
                &.label {
                  margin-bottom: 5px;
                  color: #f2f2f2;
                }
              }
              &.team {
                background: rgba(102, 102, 102, 0.09);
                color: #3f3f3f;
                height: 630px;
                .content-info {
                  color: #666;
                }
              }
            }
            &.detail {
              .content-title {
                font-size: 20px;
                margin-bottom: 20px;
                font-weight: bold;
                line-height: 30px;
              }
            }
          }
        }
        .content-right {
          .flex(3);
          .header-item {
            height: 60px;
            line-height: 60px;
            width: 50%;
            background: #bbb;
            color: #fff;
            padding-left: 30px;
            font-weight: bold;
            font-size: 12px;
            &.style-dark {
              background: #2d2d2d;
            }
          }
          .for-content {
            height: 400px;
            background: #e9e9e9;
            padding: 60px 50px;
            position: relative;
            &.size-middle {
              height: 340px;
            }
            .content-title {
              font-size: 22px;
              font-weight: bold;
              color: @black;
              margin-bottom: 25px;
            }
            .content-info {
              color: #666;
              line-height: 18px;
              font-size: 12px;
            }
            .content-sub-title {
              font-size: 16px;
              font-weight: bold;
              margin-bottom: 50px;
            }
            .content-footer {
              .position-leftBottom(0, 0);
              right: 0;
              height: 90px;
              background: #f5f5f5;
              .footer-icon {
                display: block;
                .size(90px, 90px);
                background: #e9e9e9;
                position: relative;
                cursor: pointer;
                .icon-wrapper {
                  .position-leftTop(35px, 35px);
                  .transition(all 400ms);
                  .size(20px, 20px);
                  .transform-origin(center, center);
                  &:before {
                    content: '';
                    .position-leftBottom(0, 0);
                    right: 0;
                    height: 8px;
                    background: #999;
                  }
                  &:after {
                    content: '';
                    .position-rightTop(0, 0);
                    bottom: 0;
                    width: 8px;
                    background: #999;
                  }
                }
                &:hover {
                  .icon-wrapper {
                    .rotate(45deg);
                    &:before, &:after {
                      background: @black;
                    }
                  }
                }
              }
            }
            &.agency {
              height: 750px;
              background: #fff;
              padding: 70px;
              .content-title {
                font-size: 74px;
                line-height: 85px;
                letter-spacing: 2px;
                margin-bottom: 60px;
                width: 75%;
              }
              &.team {
                height: 630px;
                .content-title {
                  width: 100%;
                }
              }
            }
            &.detail {
              background: #2d2d2d;
              .content-title-super {
                color: #ddd;
                font-size: 100px;
                margin-top: -50px;
                font-weight: bold;
              }
              .content-title, .content-info {
                color: #ddd;
              }
            }
          }
        }
      }
      .welcome-footer {
        padding: 65px 0 100px 75px;
        background: #fff;
        font-size: 12px;
        .footer-info {
          margin-top: 75px;
        }
      }
    }
    .section-items {
      height: 590px;
      .items-line {
        .flexbox();
        .justify-content(center);
        .align-items(center);
        .line-left {
          .flex(5);
          position: relative;
          height: 500px;
          background: #2d2d2d;
          color: #999;
          padding: 50px;
          font-size: 12px;
          .line-sharpe {
            margin-bottom: 35px;
          }
          .line-title {
            font-size: 26px;
            margin-bottom: 20px;
            color: #ddd;
            line-height: 30px;
          }
          .line-content {
            line-height: 18px;
          }
          .line-separator {
            margin-bottom: 15px;
            font-size: 18px;
            line-height: 20px;
          }
          .line-info {
            margin-bottom: 8px;
            line-height: 14px;
          }
          .icon {
            position: absolute;
            bottom: -90px;
            .size(90px, 90px);
            background: #fff;
            &:after {
              content: '';
              .position-leftTop(50%, 50%);
              .translate(-50%, -50%);
              .size(20px, 5px);
              background: @black;
            }
            &.left {
              left: -90px;
            }
            &.right {
              right: -90px;
            }
          }
        }
        .line-right {
          .flex(11);
          height: 500px;
          position: relative;
          cursor: pointer;
          background: @black;
          overflow: hidden;
          .line-btn {
            .position-leftTop(50%, 50%);
            .translate(-50%, -50%);
            .size(120px, 40px);
            color: #fff;
            .transition(all 1s);
            .opacity(0);
            line-height: 40px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            z-index: 4;
            &:before {
              content: '';
              .position-leftTop(0, 0);
              right: 0;
              height: 1px;
              background: #fff;
              .transition(all 1s);
              .opacity(1);
              .transition-timing-function(cubic-bezier(0.23, 1, 0.32, 1))
            }
            &:after {
              content: '';
              .position-leftBottom(0, 0);
              right: 0;
              height: 1px;
              background: #fff;
              .transition(all 1s);
              .opacity(1);
              .transition-timing-function(cubic-bezier(0.23, 1, 0.32, 1))
            }
          }
          .line-mask {
            .position-leftTop(0, 0);
            right: 0;
            bottom: 0;
            background: #2d2d2d;
            .opacity(0);
            .transition(all 1s);
            .transform-origin(center, center);
            z-index: 3;
          }
          .line-img {
            .position-leftTop(0, 0);
            right: 0;
            bottom: 0;
            z-index: 1;
            > img {
              .size(100%, 100%);
            }
            .transition(all 1s);
          }
          &:hover {
            .line-btn {
              .opacity(1);
              &:after, &:before {
                left: 45%;
                right: 45%;
              }
            }
            .line-mask {
              .opacity(0.6);
            }
            .line-img {
              .scale(1.1);
            }
          }
        }
      }
    }
    .section-images {
      .flexbox();
      .images-item {
        .flex(1);
        height: 400px;
        position: relative;
        overflow: hidden;
        .item-image {
          .position-leftTop(0, 0);
          right: 0;
          bottom: 0;
          > img {
            .size(100%, auto);
          }
          .transition(all 1s);
        }
        .item-content {
          .position-leftTop(50%, 50%);
          .translate(-50%, -50%);
          .transition(opacity 1s);
          .opacity(0);
          z-index: 3;
          .content-line {
            margin-bottom: 10px;
            color: #ddd;
            text-align: center;
            &.title {
              font-size: 14px;
            }
            &.info {
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
        .item-mask {
          .position-leftTop(0, 0);
          right: 0;
          bottom: 0;
          .opacity(0);
          .transition(opacity 1s);
          background: #1b1b1b;
        }
        &:hover {
          .item-image {
            .scale(1.1);
          }
          .item-content {
            .opacity(1);
          }
          .item-mask {
            .opacity(0.6);
          }
        }
      }
    }
    .section-concat {
      background: #fff;
      color: @black;
      padding-bottom: 120px;
      .concat-item {
        display: inline-block;
        width: 49%;
        padding: 120px 50px 0 120px;
        .item-mark {
          font-size: 135px;
          font-weight: bold;
          position: relative;
          margin-bottom: 40px;
          .mark-mask {
            .position-leftBottom(75px, 20px);
            width: 170px;
            font-size: 14px;
            font-weight: bold;
            padding: 23px 0 20px 15px;
            background: #fff;
          }
        }
        .item-description {
          padding: 5px;
          height: 240px;
          color: #666;
          font-size: 12px;
        }
        .item-footer {
          height: 75px;
          padding: 23px 0 23px 50px;
          border-top: 1px solid @grey-light;
          border-bottom: 1px solid @grey-light;
          position: relative;
          .footer-text {
            font-size: 12px;
            margin-bottom: 4px;
            color: @grey-light;
            &.dark {
              color: #3f3f3f;
              font-weight: bold;
            }
          }
          .footer-icon-wrapper {
            .position-leftTop(5px, 50%);
            .translate(0, -50%);
            .size(36px, 36px);
            .border-radius(50%);
            border: 1px solid @grey-light;
            cursor: pointer;
            display: block;
            > i {
              font-size: 16px;
              .transition(color 400ms);
              color: #1b1b1b;
              .position-leftTop(50%, 50%);
              .translate(-50%, -50%);
            }
            &:hover {
              > i {
                color: @grey-light;
              }
            }
          }
        }
      }
    }
    .section-work {
      .work-line {
        .flexbox();
        height: 400px;
        overflow: hidden;
        .work-item {
          .flex(1);
          position: relative;
          overflow: hidden;
          .item-image {
            .position-leftTop(0, 0);
            right: 0;
            bottom: 0;
            .background-size-cover();
            background-position: center center;
            .transition(all 400ms);
          }
          .item-title {
            .position-leftTop(50%, 50%);
            .translate(-50%, -50%);
            padding: 10px;
            font-weight: bold;
            font-size: 16px;
            color: #fff;
            .opacity(0);
            .transition(all 400ms);
            cursor: pointer;
            z-index: 2;
            &:after {
              content: '';
              .position-leftBottom(0, 0);
              right: 0;
              height: 1px;
              .transition(all 400ms);
              background: #fff;
              .transition-delay(100ms);
            }
            &:before {
              content: '';
              .position-leftTop(0, 0);
              right: 0;
              height: 1px;
              .transition(all 400ms);
              background: #fff;
            }
          }
          .item-mask {
            background: #1b1b1b;
            .position-leftTop(0, 0);
            right: 0;
            bottom: 0;
            .transition(all 1s);
            .opacity(0);
          }
          &:hover {
            .item-image {
              .scale(1.05);
            }
            .item-title {
              .opacity(1);
              &:after, &:before {
                left: 40%;
                right: 40%;
              }
            }
            .item-mask {
              .opacity(0.6);
            }
          }
          &.for-content {
            background: #fff;
            .content-title {
              margin-bottom: 20px;
              font-size: 26px;
              line-height: 32px;
              font-weight: bold;
              color: #1b1b1b;
            }
            .content-info {
              font-size: 12px;
              color: #666;
              &.separator {
                margin-bottom: 15px;
              }
            }
            .content-plus {
              .position-rightTop(0, 0);
              .size(90px, 90px);
              cursor: pointer;
              .transition(all 500ms);
              .plus-wrapper {
                .position-leftTop(50%, 50%);
                .translate(-50%, -50%);
                .size(20px, 20px);
                &:after {
                  content: '';
                  .position-leftTop(0, 6px);
                  right: 0;
                  height: 8px;
                  background: #1b1b1b;
                }
                &:before {
                  content: '';
                  .position-leftTop(6px, 6px);
                  bottom: 6px;
                  width: 8px;
                  background: #1b1b1b;
                  .transition(all 300ms);
                }
              }
              &:hover {
                background: #f5f5f5;
                .plus-wrapper {
                  &:before {
                    top: 0;
                    bottom: 0;
                  }
                }
              }
            }
            .content-main {
              &.for-right {
                padding: 50px 150px 0 60px;
              }
              &.for-left {
                padding: 50px 60px 0 150px;
                .content-plus {
                  left: 0;
                  right: auto;
                }
              }
            }
          }
        }
      }
    }
    .section-page {
      .flexbox();
      height: 320px;
      background: #fff;
      color: #3f3f3f;
      .page {
        .flex(1);
        position: relative;
        overflow: hidden;
        .transition(all 400ms);
        cursor: pointer;
        .transition(all 400ms);
        .not-allowed {
          .position-leftTop(0, 0);
          right: 0;
          bottom: 0;
          .separator {
            .position-leftTop(0, 0);
            background: @grey-light;
            .size(1px, 400px);
            .rotate(-45deg);
            .transform-origin(0, 0);
          }
          &:after {
            content: '';
            .position-leftTop(50%, 50%);
            .translate(-50%, -50%);
            .size(8px, 20px);
            background: @grey-light;
          }
        }
        .page-arrow-wrapper {
          .position-leftTop(50%, 50%);
          .translate(-50%, -50%);
          .size(16px, 16px);
          .page-arrow {
            .position-leftTop(0, 0);
            right: 0;
            bottom: 0;
            .transition(all 400ms);
            &:after {
              content: '';
              .position-leftTop(0, 8px);
              .size(16px, 8px);
              background: #3f3f3f;
            }
            &:before {
              content: '';
              .position-leftTop(8px, 0);
              .size(8px, 16px);
              background: #3f3f3f;
            }
          }
        }
        &:hover {
          background: #fbfbfb;
          .opacity(0.6);
          .page-arrow-wrapper {
            .page-arrow {
              .rotate(-45deg);
            }
          }
          &.prev {
            .page-arrow-wrapper {
              .page-arrow {
                .rotate(45deg);
              }
            }
          }
        }
        &.prev {
          .page-arrow-wrapper {
            .page-arrow {
              &:after {
                .position-leftTop(0, 8px);
                .size(16px, 8px);
              }
              &:before {
                .position-leftTop(0, 0);
                .size(8px, 16px);
              }
            }
          }
        }
      }
      .page-info {
        .flex(2);
        padding: 70px;
        color: #3f3f3f;
        .info-title {
          font-size: 33px;
          font-weight: bold;
        }
        .info-info {
          font-size: 12px;
          margin-top: 10px;
        }
      }
    }
    .section-show {
      .show-wrapper {
        > img {
          .size(100%, auto);
        }
      }
    }
  }
  .home-clients {
    background: #1b1b1b;
    color: #f2f2f2;
    padding: 100px 0 180px;
    .clients-content {
      max-width: 1350px;
      margin: 0 auto;
      font-size: 12px;
      .content-title {
        font-size: 26px;
        margin-bottom: 20px;
      }
      .content-description {
        color: #666;
        margin-bottom: 80px;
      }
      .content-main {
        .main-item {
          display: inline-block;
          width: 49%;
          padding-right: 5%;
          vertical-align: top;
          .item-label {
            font-size: 16px;
            margin-bottom: 10px;
          }
          .item-info {
            height: 100px;
            color: #888;
            .info-data {
              margin: 5px 20px 0 0;
              cursor: pointer;
              .transition(all 200ms);
              display: block;
              float: left;
              &:hover {
                color: #f2f2f2;
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
  }
  .home-group {
    background: #fff;
    &.style-grey {
      background: #f5f5f5;
    }
    .group-main {
      max-width: 1600px;
      margin: 0 auto;
      padding-top: 120px;
      color: @black;
      text-align: center;
      .main-title {
        font-size: 74px;
        line-height: 85px;
        letter-spacing: 2px;
        margin-bottom: 35px;

      }
      .main-sub-title {
        font-size: 26px;
        line-height: 32px;
      }
      .main-separator {
        font-size: 33px;
        line-height: 38px;
      }
      .main-info {
        margin: 30px auto 80px auto;
        color: #666;
        line-height: 16px;
        font-size: 12px;
        width: 60%;
      }
      .main-content {
        width: 75%;
        margin: 50px auto 0;
        padding-bottom: 80px;
        .flexbox();
        .justify-content(center);
        .content-item {
          .flex(1);
          padding: 0 20px;
          .item-info {
            font-size: 12px;
            line-height: 14px;
            color: #3f3f3f;
            height: 50px;
          }
          .item-big {
            font-size: 74px;
            line-height: 85px;
            height: 120px;
            position: relative;
            .transition(all 400ms);
            cursor: pointer;
            width: 60px;
            margin: 0 auto;
            font-weight: bold;
            &:after {
              content: '';
              .position-leftBottom(0, 0);
              right: 100%;
              height: 1px;
              background: @black;
              .transition(all 400ms);
            }
            &:hover {
              color: @grey-light;
              &:after {
                right: 0;
              }
            }
          }
        }
      }
      &.style-dark {
        color: #f2f2f2;
        background: #2d2d2d;
        .content-item {
          .item-info {
            color: rgba(242, 242, 242, 0.59);
          }
          .item-big {
            &:after {
              background: #f2f2f2;
            }
          }
        }
      }
    }
  }
  .home-person {
    max-width: 1600px;
    margin: 0 auto;
    .person-line {
      .justify-content(center);
      .flexbox();
      .person {
        height: 400px;
        position: relative;
        overflow: hidden;
        color: #3f3f3f;
        .flex(1);
        .person-title {
          font-size: 39px;
          .position-leftTop(50px, 50%);
          .translate(0, -50%);
          font-weight: bold;
        }
        .person-photo {
          .position-leftTop(0, 0);
          right: 0;
          bottom: 0;
          .background-size-cover();
          .transition(all 1s);
          background-position: center center;
        }
        .person-name {
          .position-leftTop(50px, 60px);
          font-size: 20px;
          font-weight: bold;
          .transition(all 1s);
          .opacity(0);
          z-index: 2;
        }
        .person-role {
          .position-leftBottom(50px, 100px);
          font-size: 12px;
          font-weight: bold;
          .transition(all 1s);
          .opacity(0);
          z-index: 2;
        }
        .person-mask {
          .position-leftTop(0, 0);
          right: 0;
          bottom: 0;
          .transition(all 1s);
          background: rgba(255, 255, 255, 0.7);
          .opacity(0);
        }
        &:hover {
          .person-photo {
            .scale(1.1);
          }
          .person-role, .person-name {
            .opacity(1);
          }
          .person-mask {
            .opacity(0.6);
          }
        }
        &.dark {
          color: #fff;
          .person-mask {
            background: #3f3f3f;
          }
        }
        &.style-white {
          background: #fff;
        }
      }
      .person-max {
        background: #1b1b1b;
        color: #f2f2f2;
        .flex(1);
        position: relative;
        .max-content {
          .position-leftTop(100px, 120px);
          right: 100px;
          .content-title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 30px;
          }
          .content-main {
            font-size: 12px;
            margin-bottom: 70px;
          }
          .content-email {
            display: block;
            .size(36px, 36px);
            .border-radius(50%);
            border: 1px solid @grey-light;
            position: relative;
            > i {
              .position-leftTop(50%, 50%);
              .translate(-50%, -50%);
              color: #f2f2f2;
              font-size: 18px;
            }
            &:hover {
              > i {
                color: @grey-light;
              }
            }
          }
        }
      }
    }
  }
  .home-group-footer {
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
    .footer-item {
      .size(480px, 180px);
      .float-left(0);
      .item-wrapper {
        .position-leftTop(50%, 50%);
        .translate(-50%, -50%);
        text-align: center;
        .item-title {
          font-size: 16px;
          line-height: 40px;
          color: #333;
          font-weight: bold;
          cursor: pointer;
          width: 120px;
          margin: 0 auto;
          position: relative;
          .transition(color 400ms);
          &:after {
            content: '';
            .position-leftBottom(0, 0);
            right: 0;
            height: 1px;
            background: #ccc;
            .transition(all 400ms);
          }
          &:before {
            content: '';
            .position-leftTop(0, 0);
            right: 0;
            height: 1px;
            background: #ccc;
            .transition(all 400ms);
          }
          &:hover {
            color: @grey-light;
            &:after, &:before {
              left: 45%;
              right: 45%;
            }
          }
        }
        .item-info {
          font-size: 12px;
          color: @grey;
          margin: 12px auto;
          width: 450px;
        }
      }
      &.white {
        background: #fff;
      }
      &.grey {
        background: #e9e9e9;
      }
    }
  }
  .home-footer {
    background: #1b1b1b;
    .footer-content {
      max-width: 1600px;
      margin: 0 auto;
      padding: 80px 50px 30px;
      background: url('http://activation-group.com/img/footer.jpg') no-repeat;
      .background-size-cover();
      .content-line {
        margin-bottom: 50px;
        .flexbox();
        .line-item {
          .flex(1);
          font-size: 12px;
          padding-right: 5%;
          .title {
            font-weight: bold;
            margin-bottom: 15px;
            color: #ddd;
            &.large {
              font-size: 16px;
            }
          }
          .info {
            line-height: 16px;
            color: #777;
            > a {
              color: #ddd;
            }
          }
        }
      }
    }
    .footer-wrapper {
      border-top: 1px solid rgba(153, 153, 153, 0.22);
      .footer-copyright {
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 50px;
        position: relative;
        height: 70px;
        line-height: 70px;
        color: #777;
        font-size: 12px;
        .item {
          font-weight: bold;
          margin-right: 25px;
          .float-left(0);
          cursor: pointer;
          &:hover {
            > a {
              color: #fff;
            }
          }
          > a {
            color: #777;
            .transition(color 400ms);

          }
        }
        .copy-right {
          .position-leftTop(200px, 0);
          right: 0;
          bottom: 0;
          text-align: center;
        }
      }
    }
  }
}