@import "../lib/core";

@dp-d-home: dp-home;
.@{dp-d-home} {
  .user-select(none);
  &-section-home {
    position: relative;
    .home-container {
      width: 950px;
      padding: 20px 0;
      .position-leftTop(50%, 40%);
      .translate(-50%, -50%);
      background: rgba(38, 38, 38, .9);
      .transition(all 400ms);
      text-align: center;
      z-index: 9;
      .line {
        padding: 20px;
        font-size: 50px;
        line-height: 50px;
        color: #EC572C;
      }
      .main {
        text-transform: uppercase;
        font-size: 160px;
        line-height: 160px;
        font-weight: 900;
        color: #fff;
        padding: 20px 0;
        position: relative;
        .special {
          color: #EC572C;
        }
        &:after {
          content: "";
          .position-leftBottom(50%, 0);
          .translate(-50%, 0);
          width: 200px;
          height: 2px;
          background: #fff;
        }
        &:before {
          content: "";
          .position-leftTop(50%, 0);
          .translate(-50%, 0);
          width: 200px;
          height: 2px;
          background: #fff;
        }
      }
      .im-wrapper {
        margin-top: 20px;
        height: 60px;
        .im-item {
          margin-right: 15px;
          padding: 10px 5px;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
          cursor: pointer;
          color: #fff;
          .transition(all 218ms);
          &:hover {
            color: #AAAAAA;
            border-top: 1px solid #AAAAAA;
            border-bottom: 1px solid #AAAAAA;
          }
        }
      }
    }
    .wall-wrapper {
      .position-leftTop(0, 0);
      right: 0;
      bottom: 0;
      .background-size(100%, auto);
      .transition(opacity 1s);
      .opacity(0);
      z-index: 0;
      &.show {
        .opacity(1);
        z-index: 2
      }
    }
  }
  &-menu {
    height: 80px;
    background: #202020;
    position: relative;
    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }
    .menu-logo {
      .float-left(30px);
      font-size: 35px;
      color: #fff;
      line-height: 80px;
      .special {
        color: #EC572C;
      }
    }
    .menu-wrapper {
      .float-right(0);
      .menu-item {
        color: white;
        padding: 0 15px;
        line-height: 80px;
        cursor: pointer;
        text-transform: uppercase;
        .transition(color 218ms);
        .float-left(0);
        &:hover {
          color: #999;
        }
      }
    }
  }
  &-section-title {
    background: url('http://opxdpusgg.bkt.clouddn.com/home_bg_deep.png');
    padding: 60px 15%;
    .title-name {
      font-size: 60px;
      color: #EC572C;
      > i {
        color: white;
        position: relative;
        font-family: fantasy;
        padding-left: 10px;
        &:before {
          content: '';
          .position-leftTop(0, 0);
          bottom: 0;
          width: 5px;
          background: white;
          .rotate(15deg);
        }
      }
    }
    .title-info {
      font-size: 22px;
      margin-top: 20px;
      color: white;
      text-transform: uppercase;
    }
  }
  &-section-feature {
    background: url('http://opxdpusgg.bkt.clouddn.com/home_bg_ligher.png');
    padding: 50px 0;
    .feature-wrapper {
      width: 950px;
      margin: 0 auto;
      .feature-item {
        background: url('http://opxdpusgg.bkt.clouddn.com/home_bg_deep.png');
        .box-shadow(0 2px 7px rgba(0, 0, 0, .4));
        .border-radius(5px);
        margin-left: 15px;
        margin-top: 15px;
        padding: 0 20px;
        width: 450px;
        display: inline-block;
        .item-title {
          font-size: 26px;
          color: white;
          padding: 20px 0;
          .text-truncate();
        }
        .item-content {
          padding-bottom: 20px;
          .content-left {
            display: inline-block;
            width: 25%;
            vertical-align: middle;
            .left-wrapper {
              margin: 0 auto;
              .size(80px, 80px);
              .border-radius(40px);
              position: relative;
              background: #292929;
              > i {
                font-size: 40px;
                color: #EC572C;
                .position-leftTop(50%, 50%);
                .translate(-50%, -50%);
              }
            }
          }
          .content-right {
            display: inline-block;
            width: 70%;
            color: white;
            line-height: 24px;
            vertical-align: middle;
          }
        }
      }
    }
  }
  &-section-fun {
    background: url('http://opxdpusgg.bkt.clouddn.com/home_bg_deep.png');
    padding: 60px 0 100px 0;
    .fun-container {
      width: 960px;
      margin: 0 auto;
      .fun-title {
        font-size: 40px;
        color: #EC572C;
      }
      .fun-description {
        margin-top: 40px;
        line-height: 24px;
        color: #e9e9e9;
      }
      .fun-wrapper {
        margin-top: 20px;
        .wrapper-item {
          display: inline-block;
          width: 24%;
          .item-title {
            font-size: 52px;
            color: #e9e9e9;
            > i {
              font-size: 52px;
              color: #EC572C;
              margin-left: 15px;
            }
          }
          .item-info {
            color: #e9e9e9;
            font-size: 24px;
            margin-top: 10px;
          }
        }
      }
    }
  }
  &-section-client {
    padding: 60px 0 100px 0;
    background: url('http://opxdpusgg.bkt.clouddn.com/parallax-2.jpg');
    background-attachment: fixed;
    .background-size(100%, auto);
    position: relative;
    .bg-cloud {
      background: url('http://opxdpusgg.bkt.clouddn.com/bg-clouds.png');
      .position-rightTop(0, 0);
      left: 0;
      bottom: 0;
      .animation(translateLeft 15s infinite);
      animation-timing-function: linear;
      .animation-delay(initial);
      animation-direction: initial;
      animation-fill-mode: initial;
      animation-play-state: initial;
    }
    .client-title {
      text-align: center;
      .title-text {
        padding: 10px 15px;
        background: #6a6a68;
        color: #fff;
        font-size: 30px;
      }
    }
    .client-content {
      margin: 50px auto;
      width: 950px;
      padding: 20px;
      text-align: center;
      background: #262626;
      color: #fff;
      font-size: 18px;
      line-height: 28px;
      .content-bottom {
        text-align: center;
        margin-top: 30px;
        .bottom-text {
          border-top: 2px solid #fff;
          padding: 10px;
          color: #fff;
        }
      }
    }
  }
  &-section-ui {
    padding: 50px 0;
    background: url('http://opxdpusgg.bkt.clouddn.com/home_bg_ligher.png');
    .ui-content {
      width: 960px;
      margin: 0 auto;
      .content-item {
        display: inline-block;
        width: 49%;
        padding: 10px;
        .item-photo {
          .size(100%, 500px);
          position: relative;
          > img {
            .size(100%, 100%);
          }
          .photo-name {
            .position-leftBottom(0, 0);
            right: 0;
            height: 50px;
            line-height: 50px;
            background: #110f1c;
            .opacity(0.5);
            text-align: center;
            font-size: 26px;
            color: #fff;
          }
        }
        .item-description {
          padding: 30px 0;
          font-size: 24px;
          color: #fff;
        }
        .item-skill-item {
          padding: 5px 0;
          > i {
            color: #EC572C;
            margin-right: 10px;
            font-size: 16px;
          }
          .item-text {
            color: #fff;
          }
        }
        .item-im {
          padding: 30px 0;
          .im-item {
            display: inline-block;
            width: 30%;
            .item-content {
              padding: 10px 0;
              border-top: 1px solid #fff;
              border-bottom: 1px solid #fff;
              cursor: pointer;
              color: #fff;
            }
          }
        }
      }
    }
  }
  &-section-skill {
    background: url('http://opxdpusgg.bkt.clouddn.com/home_bg_deep.png');
    padding: 80px 0;
    .skill-content {
      width: 960px;
      margin: 0 auto;
      color: #fff;
      .content-title {
        font-size: 30px;
        color: #EC572C;
        padding: 10px 0;
      }
      .content-info {
        padding: 10px 0;
        line-height: 28px;
      }
      .content-skill {
        padding: 15px 0;
        .skill-item {
          display: inline-block;
          width: 24%;
          .item-name {
            font-size: 24px;
            padding-bottom: 20px;
          }
          .item-count {
            .size(170px, 170px);
            position: relative;
            .border-radius(50%);
            border: 1px solid #fff;
            .count-mark {
              .position-leftTop(50%, 50%);
              .translate(-50%, -50%);
              font-size: 120px;
              color: #4c4c4e;
              font-weight: bold;
              &.modal-lighter {
                font-size: 40px;
                color: #fff;
              }
            }
            &:after {
              content: '';
              .position-leftTop(4px, 4px);
              right: 4px;
              bottom: 4px;
              .border-radius(50%);
              border: 3px solid;
              border-color: transparent #fff #fff #fff;
            }
          }
        }
      }
    }
  }
  &-section-fliker {
    padding: 80px 0;
    background: url('http://opxdpusgg.bkt.clouddn.com/parallax-1.jpg');
    background-size: 100% auto;
    background-attachment: fixed;
    .fliker-title {
      text-align: center;
      .title-text {
        padding: 10px;
        font-size: 26px;
        color: #fff;
        background: rgba(38, 38, 38, .9);
      }
    }
    .fliker-content {
      margin: 80px auto 0;
      width: 950px;
      overflow: hidden;
      height: 255px;
      font-size: 0;
      padding: 5px;
      .content-item {
        display: inline-block;
        .size(80px, 80px);
        cursor: pointer;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        padding: 5px;
        > img {
          .size(100%, 100%);
          .transition(all 400ms);
        }
        &:hover {
          > img {
            .scale(1.2)
          }
          .mask {
            .opacity(0);
          }
        }
        .mask {
          background: rgba(38, 38, 38, 0.9);
          .transition(all 400ms);
          .position-leftTop(0, 0);
          right: 0;
          bottom: 0;
          .opacity(0.7)
        }
      }
    }
  }
  &-section-done {
    background: url('http://opxdpusgg.bkt.clouddn.com/home_bg_ligher.png');
    padding: 70px 0;
    .done-wrapper {
      width: 950px;
      margin: 0 auto;
      .wrapper-item {
        display: inline-block;
        width: 32%;
        .item-content {
          margin: 0 10px;
          background: url('http://opxdpusgg.bkt.clouddn.com/home_bg_deep.png');
          .box-shadow(0 2px 7px rgba(0, 0, 0, .4));
          .border-radius(4px);
          text-align: center;
          padding: 20px;
          color: #fff;
          .transition(all 500ms);
          &:hover {
            .scale(1.05);
            background: #292929;
            .content-logo {
              > i {
                color: #fff;
              }
            }
            .content-item {
              border-bottom: 1px solid rgba(255, 255, 255, .1);
            }
          }
          .content-title {
            font-size: 26px;
          }
          .content-logo {
            padding: 20px 0;
            > i {
              color: #EC572C;
              font-size: 80px;
            }
          }
          .content-info {
            font-size: 16px;
            line-height: 26px;
          }
          .content-item {
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            font-size: 16px;
          }
        }
      }
    }
  }
  &-section-loved {
    padding: 100px 0;
    background: url('http://opxdpusgg.bkt.clouddn.com/parallax-3.jpg');
    background-attachment: fixed;
    background-size: 100% auto;
    .loved-container {
      width: 950px;
      margin: 0 auto;
      .container-title {
        text-align: center;
        .title-text {
          padding: 10px;
          background: rgba(38, 38, 38, .9);
          font-size: 26px;
          color: #fff;
        }
      }
      .container-main {
        margin-top: 80px;
        background: rgba(38, 38, 38, .9);
        position: relative;
        .opacity(0.7);
        height: 150px;
        overflow: hidden;
      }
    }
  }
  &-section-works {
    background: url('http://opxdpusgg.bkt.clouddn.com/home_bg_ligher.png');
    padding: 60px 0;
    .works-container {
      width: 960px;
      margin: 0 auto;
    }
  }
  &-section-news {
    padding: 80px 0;
    background: url('http://opxdpusgg.bkt.clouddn.com/parallax-4.jpg');
    .news-title {
      text-align: center;
      .title-text {
        padding: 10px 15px;
        font-size: 24px;
        color: #fff;
        background: rgba(38, 38, 38, .9);
      }
    }
    .news-container {
      position: relative;
      margin-top: 60px;
      height: 580px;
      .background-size-cover();
      .content-wrapper {
        .wrapper-item {
          display: inline-block;
          width: 33%;
          padding: 0 10px;
          .item-main {
            background: rgba(38, 38, 38, .96);
            .main-cover {
              position: relative;
              height: 300px;
              &:hover {
                .title-cover {
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                }
              }
              > img {
                .size(100%, 100%);
              }
              .title-cover {
                background: rgba(0, 0, 0, .6);
                .position-leftTop(20px, 20px);
                height: 50px;
                width: 120px;
                padding-top: 10px;
                padding-left: 10px;
                color: #fff;
                z-index: 5;
                .transition(all 400ms);
              }
            }
            .main-body {
              color: #fff;
              padding: 25px 20px;
              .body-title {
                font-size: 24px;
              }
              .body-description {
                margin-top: 15px;
                font-size: 16px;
                line-height: 26px;
              }
              .body-footer {
                margin-top: 25px;
                .footer-btn {
                  padding: 10px 15px;
                  background: rgba(0, 0, 0, .9);
                  color: #fff;
                  .transition(background 218ms);
                  font-size: 16px;
                  cursor: pointer;
                  &:hover {
                    background: darken(rgba(0, 0, 0, .9), 15%);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &-section-submit {
    background: url('http://opxdpusgg.bkt.clouddn.com/home_bg_ligher.png');
    padding: 80px 0;
    .submit-container {
      width: 950px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      .form-title {
        font-size: 30px;
        padding-bottom: 20px;
        color: #EC572C;
      }
      .form-label {
        color: #fff;
        padding: 15px;
      }
      .form-control-item {
        > input {
          height: 44px;
          width: 100%;
          background: rgba(0, 0, 0, .1);
          border: none;
          outline: none;
          color: #fff;
          padding: 0 10px;
        }
        > textarea {
          width: 100%;
          background: rgba(0, 0, 0, .1);
          border: none;
          outline: none;
          color: #fff;
          padding: 0 10px;
          height: 100px;
        }
      }
      .form-submit {
        height: 44px;
        line-height: 44px;
        color: #fff;
        background: rgba(0, 0, 0, .1);
        .transition(all 400ms);
        cursor: pointer;
        margin-top: 25px;
        text-align: center;
        &:hover {
          background: lighten(rgba(0, 0, 0, .1), 10%);
        }
      }
      .form-error {
        color: red;
        padding: 5px 0;
      }
      .container-success-wrapper {
        background: url('http://opxdpusgg.bkt.clouddn.com/home_bg_ligher.png');
        .position-leftTop(0, 0);
        right: 0;
        bottom: 0;
        .transition(all 218ms);
        .translate(0, 100%);
        z-index: 1;
        .wrapper-text {
          .position-leftTop(0, 50%);
          right: 0;
          text-align: center;
          .translate(0, -50%);
          font-size: 50px;
          color: #fff;
          text-transform: uppercase;
          .special {
            color: #EC572C;
            font-size: 65px;
          }
        }
        &.show {
          .translate(0, 0);
        }
      }
    }
  }
  &-section-concat {
    background: url('http://opxdpusgg.bkt.clouddn.com/home_bg_deep.png');
    padding: 60px 0;
    .concat-container {
      width: 950px;
      margin: 0 auto;
      .container-item {
        width: 32%;
        display: inline-block;
        color: #fff;
        .item-title {
          font-size: 28px;
          padding: 20px 0;
        }
        .item-info {
          font-size: 16px;
          line-height: 28px;
        }
      }
    }
  }
  &-section-footer {
    padding: 60px 0;
    background: #202020;
    color: #fff;
    text-align: center;
    .copy-right {
      font-size: 16px;
    }
    .friend-link {
      font-size: 16px;
      margin-top: 40px;
      > a {
        color: #fff;
      }
    }
    .im-wrapper {
      margin-top: 40px;
      .im-item {
        margin-right: 15px;
        padding: 10px 5px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        cursor: pointer;
        color: #fff;
        .transition(all 218ms);
        &:hover {
          color: #AAAAAA;
          border-top: 1px solid #AAAAAA;
          border-bottom: 1px solid #AAAAAA;
        }
      }
    }
  }
  @keyframes translateLeft {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -100% 0;
    }
  }
  @keyframes translateLeft {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -100% 0;
    }
  }

  @-moz-keyframes translateLeft /* Firefox */
  {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -100% 0;
    }
  }

  @-webkit-keyframes mymove /* Safari 和 Chrome */
  {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -100% 0;
    }
  }

  @-o-keyframes translateLeft /* Opera */
  {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -100% 0;
    }
  }
}