<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1"/>
    <meta name="keywords" content="DP-UI,DP-LIFE,DP-ACTIVATION"/>
    <meta name="description" content="a pure beautify front end ui project"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>DP-Design DP-Activation</title>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css"/>
</head>
<body class="dp-activation">
<div class="dp-activation-page">
    <div class="page-init">
        <div class="init-menu-wrapper header">
            <div class="init-menu">
                <div class="header-menu-item">EVENT</div>
                <div class="header-menu-item">PR</div>
                <div class="header-menu-item">DIGITAL</div>
                <div class="header-menu-item">SPORTS & ENTERTAINMENT</div>
                <div class="header-menu-item">BRANDING / ADVERTISING</div>
            </div>
        </div>
        <div class="init-content">
            <div class="content-wrapper">
                <div class="title">Pradasphere Exhibition</div>
                <div class="sub-title">VIEW DETAIL</div>
            </div>
        </div>
        <div class="init-menu-wrapper footer">
            <div class="init-menu">
                <div class="footer-menu-item logo">
                    DP-ACTIVATION<span class="right">GROUP</span>
                </div>
                <div class="footer-menu-item init">Integrated Marketing Agency For Premium Brands</div>
                <div class="footer-menu-item item">
                    <div class="item-menu">AGENCY</div>
                    <div class="item-menu">TEAM</div>
                    <div class="item-menu">WORK</div>
                </div>
                <div class="footer-menu-item item">
                    <div class="item-menu"><i class="iconfont icon-xiajiantou"></i></div>
                    <div class="item-menu"><i class="iconfont icon-weibo"></i></div>
                    <div class="item-menu"><i class="iconfont icon-linkin"></i></div>
                    <div class="item-menu">
                        <div class="x-icon-menu white">
                            <div class="menu-line top"></div>
                            <div class="menu-line middle"></div>
                            <div class="menu-line bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../public/js/js-lib.js"></script>
<script src="../public/js/js-common.js"></script>
<script src="../public/js/activation.js"></script>
</html>