<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1"/>
    <meta name="keywords" content="DP-UI,DP-LIFE,DP-ACTIVATION"/>
    <meta name="description" content="a pure beautify front end ui project"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>DP-Design DP-Activation</title>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css"/>
</head>
<body class="dp-activation hidden" onload="DP.onload(function(){animate(0)});" style="overflow: hidden">
<div class="dp-activation-load" id="loader">
    <div class="load-icon">
        <div class="progress"></div>
        <div class="icon-text"></div>
    </div>
    <div class="load-mask"></div>
</div>
<div class="dp-activation-page">
    <div class="dp-activation-page-init">
        <div class="init-bg"
             style="background-image: url('http://activation-group.com/Upload/2016060320133014115.png');"></div>
        <div class="init-bg"
             style="background-image: url('http://activation-group.com/Upload/2017011108320217162.png');"></div>
        <div class="init-bg"
             style="background-image: url('http://activation-group.com/Upload/2016060319271914318.png');"></div>
        <div class="init-bg"
             style="background-image: url('http://activation-group.com/Upload/2016060223442230458.png');"></div>
        <div class="init-bg"
             style="background-image: url('http://activation-group.com/Upload/2016060716545861849.png');"></div>
        <div class="init-menu-wrapper header">
            <div class="init-menu">
                <div class="header-menu-item">EVENT</div>
                <div class="header-menu-item">PR</div>
                <div class="header-menu-item">DIGITAL</div>
                <div class="header-menu-item">SPORTS & ENTERTAINMENT</div>
                <div class="header-menu-item">BRANDING / ADVERTISING</div>
            </div>
        </div>
        <div class="init-content">
            <div class="content-wrapper">
                <div class="title">HANGXIA 2016 Autumn/Winter Collection Press Preview
                </div>
                <a href="./activation_detail.html" class="sub-title">
                    VIEW DETAIL
                </a>
            </div>
        </div>
        <div class="init-content">
            <div class="content-wrapper">
                <div class="title">Max Mara MONOPOLIS! Shanghai 2016
                </div>
                <a href="./activation_detail.html" class="sub-title">
                    VIEW DETAIL
                </a>
            </div>
        </div>
        <div class="init-content">
            <div class="content-wrapper">
                <div class="title">Kate spade sky lanterns
                </div>
                <a href="./activation_detail.html" class="sub-title">
                    VIEW DETAIL
                </a>
            </div>
        </div>
        <div class="init-content">
            <div class="content-wrapper">
                <div class="title">
                    Official Tour de France Events Launched In China
                </div>
                <a href="./activation_detail.html" class="sub-title">
                    VIEW DETAIL
                </a>
            </div>
        </div>
        <div class="init-content">
            <div class="content-wrapper">
                <div class="title">Pradasphere Exhibition
                </div>
                <a href="./activation_detail.html" class="sub-title">
                    VIEW DETAIL
                </a>
            </div>
        </div>
        <div class="init-menu-wrapper footer">
            <div class="init-menu">
                <div class="footer-menu-item logo">
                    DP-ACTIVATION<span class="right">GROUP</span>
                </div>
                <div class="footer-menu-item init">
                    <a href="./activation_home.html">Integrated Marketing Agency For Premium Brands</a></div>
                <div class="footer-menu-item item">
                    <div class="item-menu">
                        <a href="./activation_agency.html">AGENCY</a></div>
                    <div class="item-menu">
                        <a href="./activation_team.html">TEAM</a></div>
                    <div class="item-menu">
                        <a href="./activation_work.html">WORK</a></div>
                </div>
                <div class="footer-menu-item item">
                    <div class="item-menu"><i class="iconfont icon-xiajiantou"></i></div>
                    <div class="item-menu"><i class="iconfont icon-weibo"></i></div>
                    <div class="item-menu"><i class="iconfont icon-linkin"></i></div>
                    <div class="item-menu">
                        <div class="x-icon-menu white">
                            <div class="menu-line top"></div>
                            <div class="menu-line middle"></div>
                            <div class="menu-line bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../public/js/js-lib.js"></script>
<script src="../public/js/js-common.js"></script>
<script src="../public/js/activation.js"></script>
<script>
    var $menus = $('.header-menu-item');
    var $bgs = $('.init-bg');
    var $contents = $('.init-content');
    var init = function () {
        animate(0);
    }
    function animate(i) {
        if (i === $menus.length) {
            //跳转逻辑
            $('body').css('background', '#fff');
            $('body').animate({
                background: '#fff',
                opacity: 0
            }, 800, function () {
                setTimeout(function () {
                    window.location.href = './activation_home.html';
                }, 200)
            })
            return;
        }
        $menus.eq(i).addClass('active').siblings().removeClass('active');
        $bgs.eq(i).addClass('fadeIn').siblings().removeClass('fadeIn');
        $contents.eq(i).addClass('active');
        if (i !== 0) {
            $contents.eq(i - 1).addClass('out');
        }
        switch (i % 4) {
            case 1:
                $bgs.eq(i).addClass('leftTop').siblings().removeClass('leftTop');
                break;
            case 2:
                $bgs.eq(i).addClass('rightTop').siblings().removeClass('rightTop');
                break;
            case 3:
                $bgs.eq(i).addClass('leftBottom').siblings().removeClass('leftBottom');
                break;
            default:
                $bgs.eq(i).addClass('rightBottom').siblings().removeClass('rightBottom');
                break;
        }
        setTimeout(function () {
            animate(i + 1)
        }, 4000)
    }
</script>
</html>