<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1"/>
    <meta name="keywords" content="DP-UI,DP-LIFE,DP-VIDEO"/>
    <meta name="description" content="a pure beautify front end ui project"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>DP-UI DP-LIFE</title>
</head>
<body>
    <p>this is a paragrath</p>
</body>
</html>