<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1"/>
    <meta name="keywords" content="DP-UI,DP-LIFE,DP-VIDEO"/>
    <meta name="description" content="a pure beautify front end ui project"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>DP-UI DP-LIFE</title>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css"/>
</head>
<body class="dp-life">
<div class="dp-life-menu">MENU <i class="iconfont icon-menu"></i></div>
<div class="dp-life-content">
    <div class="content-water-mark for-left">D</div>
    <div class="content-text-wrapper for-left">
        <div class="text-title">
            <span class="bold">Applo</span>
            <span>PSD Template</span>
        </div>
        <div class="text-description">
            What do ESL and EFL mean? ESL stands for English as a Second
            Language. EFL stands for English as a Foreign Language.
            ESL is used when people learn English in an English speaking country. EFL is used when
        </div>
    </div>
</div>
<div class="dp-life-content">
    <div class="content-water-mark for-left">P</div>
    <div class="content-text-wrapper for-right">
        <div class="text-title">
            <span class="bold">——My name is</span>
            <span>Applo</span>
        </div>
        <div class="text-description">
            What do ESL and EFL mean? ESL stands for English as a Second
            Language. EFL stands for English as a Foreign Language.
            ESL is used when people learn English in an English speaking country. EFL is used when
        </div>
    </div>
</div>
<div class="dp-life-content">
    <div class="content-water-mark for-right">-</div>
    <div class="dp-ui-carousel" id="life-carousel-photo">
        <div class="dp-ui-carousel-arrow left">
            <i class="iconfont icon-back"></i>
        </div>
        <div class="dp-ui-carousel-arrow right">
            <i class="iconfont icon-more"></i>
        </div>
        <div class="dp-ui-carousel-main">
            <div class="content-wrapper">
                <img class="paper-image" src="../public/images/demo.jpg"/>
            </div>
            <div class="content-wrapper">
                <img class="paper-image" src="../public/images/beauty.png"/>
            </div>
        </div>
    </div>
</div>
<div class="dp-life-content">
    <div class="content-water-mark for-left">U</div>
    <div class="content-text-wrapper for-left">
        <div class="text-title">
            <span class="bold">DP-UI</span>
            <span>Pure Template</span>
        </div>
        <div class="text-description">
            What do ESL and EFL mean? ESL stands for English as a Second
            Language. EFL stands for English as a Foreign Language.
            ESL is used when people learn English in an English speaking country. EFL is used when
        </div>
    </div>
</div>
<div class="dp-life-content">
    <div class="content-water-mark for-right">I</div>
    <div class="dp-ui-carousel" id="life-zoom-carousel-photo">
        <div class="dp-ui-carousel-arrow left">
            <i class="iconfont icon-back"></i>
        </div>
        <div class="dp-ui-carousel-arrow right">
            <i class="iconfont icon-more"></i>
        </div>
        <div class="dp-ui-carousel-main modal-zoom">
            <div class="content-wrapper prev">
                <img class="paper-image" src="../public/images/demo.jpg"/>
            </div>
            <div class="content-wrapper current">
                <img class="paper-image" src="../public/images/beauty.png"/>
            </div>
            <div class="content-wrapper next">
                <img class="paper-image" src="../public/images/demo3.png"/>
            </div>
            <div class="content-wrapper ">
                <img class="paper-image" src="../public/images/demo4.png"/>
            </div>
            <div class="content-wrapper ">
                <img class="paper-image" src="../public/images/demo5.png"/>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../public/js/js-lib.js"></script>
<script src="../public/js/js-common.js"></script>
<script>
    $('#life-carousel-photo').carousel({
        auto: true
    });
    $('#life-zoom-carousel-photo').carousel({
        modal: 'zoom'
    })
</script>
</html>