<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1"/>
    <meta name="keywords" content="DP-DESIGN,DP-UI,DP-LIFE,DP,DP-LIFE"/>
    <meta name="description" content="DP-Design,A GROUP OF EXPERIENCED DESIGNERS AND DEVELOPERS"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>DP-Design DP-Life</title>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css"/>
</head>
<body class="dp-life" onload="onload();">
<div class="dp-life-menu">MENU <i class="iconfont icon-menu"></i></div>
<div class="dp-life-content">
    <div class="content-water-mark for-left">D</div>
    <div class="content-text-wrapper for-left">
        <div class="text-title">
            <span class="bold">DP-Design</span>
            <span>Web Template</span>
        </div>
        <div class="text-description">
            What do DP-Design and DP-Design mean? ESL stands for English as a Second
            Language. DP-Design stands for English as a Foreign Language.
            ESL is used when people learn English in an English speaking country. DP-Design is used when
        </div>
    </div>
</div>
<div class="dp-life-content">
    <div class="content-water-mark for-left">P</div>
    <div class="content-text-wrapper for-right">
        <div class="text-title">
            <span class="bold">——My name is</span>
            <span>DP-Design</span>
        </div>
        <div class="text-description">
            What do DP-Design and DP-Design mean? ESL stands for English as a Second
            Language. DP-Design stands for English as a Foreign Language.
            ESL is used when people learn English in an English speaking country. DP-Design is used when
        </div>
    </div>
</div>
<div class="dp-life-content">
    <div class="content-water-mark for-right">-</div>
    <div class="dp-ui-carousel" id="life-carousel-photo">
        <div class="dp-ui-carousel-arrow left">
            <i class="iconfont icon-back"></i>
        </div>
        <div class="dp-ui-carousel-arrow right">
            <i class="iconfont icon-more"></i>
        </div>
        <div class="dp-ui-carousel-main">
            <div class="content-wrapper">
                <img class="paper-image" src="http://opxdpusgg.bkt.clouddn.com/life_bg_04.jpg"/>
            </div>
            <div class="content-wrapper">
                <img class="paper-image" src="http://opxdpusgg.bkt.clouddn.com/life_bg_05.jpg"/>
            </div>
            <div class="content-wrapper">
                <img class="paper-image" src="http://opxdpusgg.bkt.clouddn.com/life_bg_06.jpg"/>
            </div>
            <div class="content-wrapper">
                <img class="paper-image" src="http://opxdpusgg.bkt.clouddn.com/life_bg_07.jpg"/>
            </div>
        </div>
    </div>
</div>
<div class="dp-life-content">
    <div class="content-water-mark for-left">U</div>
    <div class="content-text-wrapper for-left">
        <div class="text-title">
            <span class="bold">DP-Design</span>
            <span>Pure Web Design</span>
        </div>
        <div class="text-description">
            What do DP-Design and DP-Design mean? ESL stands for English as a Second
            Language. DP-Design stands for English as a Foreign Language.
            ESL is used when people learn English in an English speaking country. DP-Design is used when
        </div>
    </div>
</div>
<div class="dp-life-content">
    <div class="content-water-mark for-right">I</div>
    <div class="dp-ui-carousel" id="life-zoom-carousel-photo">
        <div class="dp-ui-carousel-arrow left">
            <i class="iconfont icon-back"></i>
        </div>
        <div class="dp-ui-carousel-arrow right">
            <i class="iconfont icon-more"></i>
        </div>
        <div class="dp-ui-carousel-main modal-zoom">
            <div class="content-wrapper prev">
                <img class="paper-image" src="http://opxdpusgg.bkt.clouddn.com/life_bg_08.jpg"/>
            </div>
            <div class="content-wrapper current">
                <img class="paper-image" src="http://opxdpusgg.bkt.clouddn.com/life_bg_09.jpg"/>
            </div>
            <div class="content-wrapper next">
                <img class="paper-image" src="http://opxdpusgg.bkt.clouddn.com/life_bg_10.jpg"/>
            </div>
            <div class="content-wrapper ">
                <img class="paper-image" src="http://opxdpusgg.bkt.clouddn.com/life_bg_11.jpg"/>
            </div>
            <div class="content-wrapper ">
                <img class="paper-image" src="http://opxdpusgg.bkt.clouddn.com/life_bg_12.jpg"/>
            </div>
        </div>
    </div>
</div>
<div class="dp-ui-loader" id="loading">
    <div class="loader"></div>
    <div class="loader inner"></div>
    <div class="loader inner2"></div>
</div>
</body>
<script src="../public/js/js-lib.js"></script>
<script src="../public/js/js-common.js"></script>
<script>
    $('#life-carousel-photo').carousel({
        auto: true
    });
    $('#life-zoom-carousel-photo').carousel({
        modal: 'zoom'
    });
    function onload() {
        $('#loading').remove();
        $('#home-waterfall').waterfall();
    }
</script>
</html>