@import "../lib/core";

@dp-ui-waterfall: dp-ui-waterfall;

.@{dp-ui-waterfall} {
  position: relative;
  .size(100%, 100%);
  .waterfall-item-wrapper {
    position: absolute;
    .item-image {
      .position-leftTop(10px, 10px);
      bottom: 10px;
      right: 10px;
    }
  }
}